.navbar-list{
  display: block;
  list-style: none;
  margin: 2px;;
  padding: 8px;
  width: 50%;
  color: white;
}

.navbar-list-item{
  float: left;
  padding: 8px 16px;
  text-align: center;
  text-decoration: inherit;
  color: inherit;
}

li:last-child {
  border-bottom: none;
}

.navbar-list-item:hover{
  background-color: #EDEEC9;
  color: purple;
}

.active{
    background-color: #666;
    color: white;
  }
