.navbar-list{
  display: block;
  list-style: none;
  margin: 2px;;
  padding: 8px;
  width: 50%;
  color: #C44536;
  float: right;
}

.navbar-list-item{
  float: left;
  padding: 8px 16px;
  text-align: center;
  text-decoration: inherit;
  color: inherit;
}

li:last-child {
  border-bottom: none;
}

.navbar-list-item:hover{
  color: #EAE0D5;
}

.active{
    color: #EAE0D5;
  }

.title {
  margin-left: 40px;
  position: absolute;
}

.my-name {
  color: #C44536;
  font-size: 4vh;
}

.my-title {
  color: #C6AC8F;
}
