@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');

.contact-list {
  list-style: none;
}

.phone {
  background-image: url("../../pictures/phone.jpeg")
}

.contact-icon {
  height: 34px;
}

.contact-page {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin-top: 60px;
  width: 90vw;
}

.contact-title {
  font-size: 35px;
  color: #C44536;
}

.contact-me-text {
  font-size: 18px;
  color: #C6AC8F;
}
