.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: space-around;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #283D3B;
}


#nav {
  background-color: #283D3B;
  grid-row: 1;
  width: 100vw;
  position: absolute;
  border-bottom: solid 1px white;
}

.about-me {
  justify-content: center;
}

.main-content {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
