.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
  'nav nav nav'
  'about-me about-me about-me'
  'ruby javascript java'
  'footer footer footer';
  grid-gap: 1rem;
  align-items: center;
  align-items: stretch;
  justify-content: space-around;
  top: 0;
  left: 0;
  position: absolute;
}

.App::after {
  content: "";
  background-image: url('./edinburgh-backdrop.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  z-index: -1;
}


.nav {
  grid-area: nav;
  background-color: #5C2751;
}

.about-me {
  grid-area: about-me;
  justify-content: center;
  padding: 10px;
  height: 20rem;
}

.ruby {
  grid-area: ruby;
  height: 8rem;
  width: 15rem;
  justify-self: center;
}

.javascript {
  grid-area: javascript;
  height: 8rem;
  width: 15rem;
  justify-self: center;
}

.java {
  grid-area: java;
  height: 8rem;
  width: 15rem;
  justify-self: center;
}

.footer {
  grid-area: footer;
  background-color: silver;
  height: 3rem;
}

.logo {
  width: 80%;
  height: 80%;
  align-self: center;
  padding: 5px;
}
